:root{
    --red: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Barlow Condensed', sans-serif; */
}
a{
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 1em;
    font-family: 'Barlow Condensed', sans-serif;
}
.nav{
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
}
.nav__logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav__options{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__options-pro{
    margin: 0 3em;
    display: flex;
    align-items: flex-end;
}
.nav__options-pro a:hover{
    text-decoration: underline;
}
.nav__options-pro a:nth-child(4):hover{
    text-decoration: none;
}
.nav__options :nth-child(4), :nth-child(5){
    color: var(--grayish-blue);
}
.nav__options :nth-child(4){
    font-size: 2em;
}
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 3em 0 0 7em;
    align-items: center;
}
.hero__info{
    width: 50%;
}
.hero__figure{
    width: 50%;
    overflow: hidden;
    position: relative;
}
body::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 70%;
    background-color: var(--light-grayish-blue);
    left: 50%;
    bottom: 40%;
    z-index: -1;
    border-bottom-left-radius: 2em;
}
.hero__info-new{
    margin: 1em 0;
    text-transform: uppercase;
    color: var(--grayish-blue);
    letter-spacing: .1em;
}
.hero__info-new span{
    background-color: #252a3d;
    border-radius: 2em;
    padding: .1em .5em .2em;
    color: var(--light-grayish-blue);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    margin-right: 1em;
}
.hero__info-title{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    color: #1e243e;
}
.hero__info-text{
    margin: 1em 0;
    color: var(--grayish-blue);
    width: 50%;
}
.hero__info-preview{
    display: flex;
    margin: 2em 0;
    align-items: center;
}
.hero__info-preview p{
    color: var(--grayish-blue);
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 1em;
    font-size: .8em;
}
.cta{
    background-color: var(--red);
    padding: .5em 2em;
    border-radius: .3em;
    color: var(--light-grayish-blue);
    margin: 0;
}
.cta:hover{
    background-color: #ff8584;
}
@media (max-width:1024px){
    .nav__options-pro{
        margin: 0;
    }
}
@media(max-width:940px){
    .nav{
        padding: 0 2em;
    }
    .hero{
        flex-direction: column;
        padding: 2em 0 0 2em;
    }
    .hero__info{
        order: 2;
        width: 100%;
        margin-top: 1em;
    }
    .hero__figure{
        width: 90%;
    }
    .figure{
        width: 90%;
    }
    body::after{    
        bottom: 40%;
    }

}
@media(max-width:720px){
    .hero__info-title{
        font-size: 1.2em;
    }
    .hero__info-text{
        width: 100%;
    }
    .nav__logo{
        margin-top: 1em;
    }
    a{
        margin: 0 .5em;
    }
    .cta{
        padding: .5em 1em;
    }
}
@media(max-width:480px){
    body{
        font-size: 14px;    
    }
    .nav__options{
        display: none;
    }
    .hero__figure{
        width: 100%;
    }
    .figure{
        width: 140%;
    }
    .hero__info{
        margin-top: 4em;
    }
    body::after{    
        bottom: 45%;
    }
}